/* Style the account buttons */
div.header_container button.drop_menu {
	height: 4%;
	width: 4%;
	float: left;
	padding: 0.5%;
	font-size: 20px;
	color:  #000000;
	background: #FFFFFF;
	cursor: pointer;
	border: 0px solid #f1f1f1;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

/* Style the account */
div.header_container img.logo {
	max-height: 4%;
	max-width: 5.5%;
	width: 5.5%;
	float: left;
	/* padding: 5px; */
	margin-left: 1%;
	font-size: 20px;
	color: #000000;
	background: #FFFFFF;
	cursor: pointer;
	border: 0px solid #f1f1f1;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}


/* Style the text field */
div.header_container input[type=text].search_bar {
	height: 2.5%;
	width: 25%;
	float: left;
	margin-left: 25%;
    padding: 0.5%;
	font-size: 17px;
	border: 1px solid grey;
	background: #f1f1f1;
	border-right: none;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

/* Style the search button */
div.header_container button.search_bar {
	height: 2.5%;
	width: 2.5%;
	float: left;
	padding: 0.5%;
	font-size: 17px;
	color: white;
	cursor: pointer;
	border: 1px solid grey;
	border-left: none;
	background: #7289da;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
/* Style the account buttons */
div.header_container button.account_buttons {
	height: 4%;
	width: 4%;
	float: right;
	padding: 0.5%;
	font-size: 17px;
	color:  #000000;
	background: #FFFFFF;
	cursor: pointer;
	border: 0px solid #f1f1f1;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
/* change color on button's hover */
div.header_container button.search_bar:hover {
	background: #667bc4;
}

/* Clears text field after search */
div.header_container::after {
	content: "";
	clear: both;
	display: table;
}
