/* Style the text field */
form.search_bar_form input[type=text] {
	height: 4%;
	width: 56%;
	float: left;
    padding: 10px;
	font-size: 17px;
	border: 1px solid grey;
	background: #f1f1f1;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

/* Style the search button */
form.search_bar_form button {
	height: 4%;
	width: 8%;
	float: left;
	padding: 10px;
	font-size: 17px;
	color: white;
	cursor: pointer;
	border: 1px solid grey;
	border-left: none;
	background: #2196F3;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

form.search_bar_form button:hover {
	background: #0b7dda;
}

/* Clears text field after search */
form.search_bar_form::after {
	content: "";
	clear: both;
	display: table;
}
