/* The sidebar menu */
.sidenav {
	height: 100%;
	width: 10.35%;
	position: fixed; /* fixed sidenav (stay in place on scroll) */
	z-index: 1;
	left: 0;
	margin-top: 0px;
	background-color: #ecf0f1;
	overflow-x: hidden;
	padding-top: 20px;
	border: 0px solid #f1f1f1;
}

/* The navigation menu links */
.sidenav a {
	padding: 6px 6px 6px 6px;
	text-decoration: none;
	text-align: left;
	font-size: 18px;
	color: #818181;
	display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
	color: #333333;
}

/* Style page content */
.main {
	margin-left: 10.35%; /* Same as the width of the sidebar */
	padding: 0px 10px;
}

/* resize sidenav and it's text for different screen widths */
@media screen and (max-width: 2000px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}

/* resize sidenav and it's text for different screen widths */
@media screen and (max-width: 1000px) {
	.sidenav {padding-top: 12px;}
	.sidenav a {font-size: 15px;}
}
