/* set dimensions and position of wrapper container for video_wrapper and youtube's iframe */
.wrapper {
	margin: 0 auto;
	margin-top: 1%;
	width: 60%;
	position: fixed;
	left: 5%;
}

/* set dimensions and position of video_wrapper (only child is youtube's iframe) */
.video_wrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0px;
}

/* fit iframe to video_wrapper */
.video_wrapper iframe {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	height: 100%;
	width: 100%;
}

/*  style note_box which contains all note taking related elements */
.note_box {
	margin: 0 auto;
	margin-left: 5%;
	margin-top: 1%;
	width: 25%;
	position: fixed;
	right: 5%;
	background: #fff;
	/* box-shadow: 0 3px #cccccc; */
}

/* set background of note_box_title */
.note_box_title {
	background: #7289da;
}

/* align and color note_box_title text */
.note_box_title h2 {
	text-align: center;
	color: #ffffff;
}

/*
style container for all notes
handle overflow with vertical scroll
*/
.note_logs {
	width: 100%;
	height: 500px;
	background: #eeeeee;
	overflow-x: hidden;
	overflow-y: scroll;
}

/* style scrollbar to note_logs */
.note_logs::-webkit-scrollbar {
	width: 10px;
}

/* style scrollbar to note_logs */
.note_logs::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: rgba(0,0,0,.1);
}

/* wrap text of each note to next line */
.my_note {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
}
/* style each posted note */
.note .user_note {
	width: 80%;
	padding: 7.5px;
	margin: 10px;
	margin-left: 10%;
	margin-right: 10%;
	border-radius: 10px;
	font-size: 15px;
}

/* change colors of notes if not posted by this user */
.other_content .user_note {
	background: #1adda4;
}

/* change colors of notes if posted by this user */
.my_content .user_note {
	background: #aab8e8;
}

/* note input textarea and post button container */
.note_form {
	display: flex;
	align-items: flex-start;
}

/* set dimensions for note input text area */
.note_form .write_note_textarea {
	background: #fbfbfb;
	width: 75%;
	height: 50px
	border: 2px solid #eeeeee;
	border-radius: 3px;
	resize: none;
	padding: 10px;
	font-size: 15px;
	color: 333333;
}

/* change background color on focus */
.note_form .write_note_textarea:focus {
	background: #ffffff;
}

/* style scrollbar of note input area */
.note_form .write_note_textarea::-webkit-scrollbar {
	width: 10px;
}

/* style scrollbar of note input area */
.note_form .write_note_textarea::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: rgba(0,0,0,.1);
}

/* style button that saves each note */
.note_form .save_note_button {
	background: #2c2f33;
	padding: 10px;
	color: #ffffff;
	font-size: 15px;
	width: 15%;
	height: 50px;
	padding: 10px;
	border-radius: 3px;
	border-color: #c1c1c1;
	box-shadow: 0 3px 0 #23272a;
	cursor: pointer;
}

/* change button color and box shadow on save note button */
.note_form .save_note_button:hover {
	background: #56585b;
	box-shadow: 0 3px 0 #2c2f33;
}
